{{define "Header"}}
<header class="header">
    <section class="header-info">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="phone-number">+54 1234 1234</span></p>
    </section>
    <section class="container-navbar">
        <nav class="navbar container">
            <a href="index.html" class="navbar-logo">
                <img src="/static/img/hippo-solid-full.svg" alt="Logo empresa">
                <span>
                    Empresa
                </span>
            </a>
            <div class="navbar-nav">
                <ul class="nav-list">
                    <li class="nav-link"><a href="/">Inicio</a></li>
                    <li class="nav-link"><a href="#">Nosotros</a></li>
                    <li class="nav-link"><a href="#">Contacto</a></li>
                    <li class="nav-link"><a href="formulario">Formulario</a></li>
                </ul>
                <form action="" class="navbar-search">
                    <a href="#" class="search-icon" target="_blank">
                        <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                    </a>
                </form>
                <a href="#" class="button button-primary button-saber-mas">Saber más</a>
                <button class="navbar-toogle-btn">
                    <i class="fa-solid fa-bars" style="color: #000000;"></i>
                </button>
                <div class="navbar-mobile-menu">
                    <ul class="nav-list-mobile">
                        <li class="nav-link-mobile"><a href="/">Inicio</a></li>
                        <li class="nav-link-mobile"><a href="#">Nosotros</a></li>
                        <li class="nav-link-mobile"><a href="#">Contacto</a></li>
                        <li class="nav-link-mobile"><a href="formulario">Formulario</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</header>
{{end}}