{{define "Main"}}
<main class="main">
    <section class="main__sections">
        <div class="main__section-tarjeta">
            <article class="main__tarjeta-texto">
                <h3 class="main__tarjeta-titulo">Nombre Producto</h3>
                <p class="main__tarjeta-descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
                    praesentium doloremque accusantium iste dolores corporis debitis, suscipit expedita</p>
                <p>El ID del producto es: </p>
            </article>
            <article class="main__tarjeta-imagen">
                <img src="#" alt="Nombre del producto">
                <div class="tarjeta-sin-imagen">
                    <i class="fa-solid fa-poo-storm fa-2xl iconos"></i>
                    <p>No hay imagen</p>
                </div>
            </article>
            <article class="main__tarjeta-boton">
                <form action="/eliminar" method="post"
                    onsubmit="return confirm('¿Estás seguro que querés eliminar este producto?');">
                    <!-- <input type="hidden" name="id" value="ID"> -->
                    <a href="" class="button button-primary">
                        Eliminar
                        <button type="submit" class="boton-eliminar">
                            <i class="fa-solid fa-trash-can fa-2xl iconos icono-eliminar"></i>
                        </button>
                    </a>

                </form>
            </article>
        </div>
    </section>
</main>
{{end}}